@import '../../index.module.scss';

.main {
  row-gap: 26px;
}

.post {
  color: inherit;
  border: none;

  &:visited {
    color: inherit;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    border: 1px solid black;
  }
}