@import '../../index.module.scss';

.body {
  padding: 15px 24px;
  box-sizing: border-box;
  background-color: $whiteColor;
  // min-height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.link {
  align-self: stretch;
  height: 50px;
  padding: 12px 20px;
  line-height: 156%;
  // font-size: 18px;
  font-weight: 400;
  box-sizing: border-box;

  text-align: center;
  text-decoration: none;
  color: $blackColor;

  &:hover {
    color: $lightGreenColor;
    border: 1px solid $lightGreenColor;
    border-radius: 6px;
  }

  &-group {
    display: flex;
    flex-basis: 230px;
    justify-content: space-between;
  }
}
