@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$whiteColor: white;
$mainBgColor: #ebeef3;
$blueColor: #1890ff;
$lightGreenColor: #52c41a;
$redColor: #ff0707;
$blackColor: rgba(0, 0, 0, 0.85);
$lightBlackColor: rgba(0, 0, 0, 0.5);

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: lightgray;
}

.main {
  background-color: $mainBgColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 26px 0;
}

.post {
  width: 938px;
  padding: 15px;
  box-sizing: border-box;

  background-color: $whiteColor;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}